page-login {
  ion-img{
    background: none;
  }
  .button-size{
    width: 90%;
    height: 9.2vh;
    margin-top: 7vh;
    margin-bottom: 8vh;
  }
  .white-bold{
    color: white;
    font-weight: 800; 
  }
  .lightgray{
    color: map-get($colors, lightgray)
  }
  .margin-top{
    margin-top: 8vh;
  }
}
