page-slider {
  .ion-slide{
    height: 100vh;
  }
  .slide-zoom {
    height: 100%
  }
  .buttons-gradient{
    background: linear-gradient(to right, #79cbb9, #52bfcf);
  }
  button{
    width: 80%;
  }
  .swiper-pagination-bullet-active{
    background: color($colors, primary, base);
  }
  .slide1img{
    background-image: url("../../assets/imgs/tiger.png");
    background-repeat: no-repeat;
    //100% width and height
    background-size: 100% 100%;
  }
  .white{
    color: white;
  }
  .first-slide{
    padding-top: 30vh;
  }
  .margin-top{
    margin-top: 10vh;
  }
  h2{
    font-weight: 900;
    font-size: 3rem;
  }
  .bold-text{
    font-weight: 900;
    font-size: 2rem;
  }
  .small-font{
    font-size: 1.1rem;
  }
  ion-img{
    background: none;
  }
  .lightgray{
    color: map-get($colors, lightgray)
  }
  .darkgray{
    color: map-get($colors, darkgray)
  }
  .margin-bottom{
    margin-bottom: 3vh;
  }
  #first-button, #second-button, #third-button, #fourth-button{
    height: 9vh;
  }
  #first-button{
    margin-top: 15vh;
  }
  #second-button{
    margin-top: 8vh;
  }
  #third-button{
    margin-top: 8vh;
  }
  #fourth-button{
    margin-top: 8vh;
  }
  .swiper-pagination{
    margin-bottom: 22vh;
  }
  
}
